<div class="container">
  <mat-card class="create-trip-card">
    <h2>Create Trip</h2>
    <form [formGroup]="form" (submit)="submitTrip()">
      <div class="form-row">
        <div class="form-label">
          <label for="title">Title</label>
        </div>
        <div class="form-input">
          <input type="text" formControlName="title">
          <!-- <mat-form-field appearance="fill">
            <input matInput formControlName="title" type="text" id="title">
          </mat-form-field> -->
        </div>
      </div>
      <div class="form-row">
        <div class="form-label">
          <label for="location">Location</label>
        </div>
        <div class="form-input">
          <input type="text" formControlName="location">
          <!-- <mat-form-field appearance="fill">
            <input matInput formControlName="location" type="text" id="location">
          </mat-form-field> -->
        </div>
      </div>
      <div class="form-row">
        <div class="form-label">
          <label for="startDate">Start Date</label>
        </div>
        <div class="form-input">
          <input type="date" formControlName="startDate">
          <!-- <mat-form-field appearance="fill">
            <input matInput [matDatepicker]="startDatePicker" formControlName="startDate" id="startDate">
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
          </mat-form-field> -->
        </div>
      </div>
      <div class="form-row">
        <div class="form-label">
          <label for="endDate">End Date</label>
        </div>
        <div class="form-input">
          <input type="date" formControlName="endDate">
          <!-- <mat-form-field appearance="fill">
            <input matInput [matDatepicker]="endDatePicker" formControlName="endDate" id="endDate">
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
          </mat-form-field> -->
        </div>
      </div>
      <div class="form-row">
        <div class="form-label">
          <label for="image">Image</label>
        </div>
        <div class="form-input">
          <input type="file" placeholder="Image" accept="image/*" #image>
        </div>
      </div>
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Create Trip</button>
    </form>
  </mat-card>
</div>


<!-- <h1>Create Trip</h1>

<form [formGroup]="form" (submit)="submitTrip()">
  <table>
    <tr>
      <td>Title: </td>
      <td><input type="text" formControlName="title"></td>
    </tr>
    <tr>
      <td>Location: </td>
      <td><input type="text" formControlName="location"></td>
    </tr>
    <tr>
      <td>Start Date: </td>
      <td><input type="date" formControlName="startDate"></td>
    </tr>
    <tr>
      <td>End Date: </td>
      <td><input type="date" formControlName="endDate"></td>
    </tr>
    <tr>
      <td><button type="submit" [disabled]="form.invalid">Create Trip</button></td>
    </tr>
  </table>
</form> -->
