<div class="container">
<h1>Browse Trips</h1>

<mat-card *ngFor="let t of trips" class="trip-card">
    <mat-card-header>
        <mat-card-title >{{t.title}}</mat-card-title>
    </mat-card-header>
    <!-- <img matCardImage src="Card wide image source"> -->
    <mat-card-content>
        Text content....
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-flat-button color="primary" (click)="joinTrip(t.tripId)">Join Trip</button>

    </mat-card-actions>
    <mat-card-footer style="margin: 0 20px;">
        Attendees:
      <mat-chip-set>
        <mat-chip *ngFor="let a of t.attendees">{{a}}</mat-chip>
      </mat-chip-set>
    </mat-card-footer>
</mat-card>
</div>



<!-- <h2>Browse Trips</h2>
<div *ngFor="let t of trips" style="border: 1px solid black;">
  <div style="background-image: url('{{t.image}}')"></div>
  <h4>{{t.title}}</h4>
  <p>Details....</p>

  Attendees:
  <ul *ngFor="let a of t.attendees">{{a}}</ul>

  <button (click)="joinTrip(t.tripId)">Join Trip</button>

</div> -->
